/* standard form style table */
div.col { float: left; }
div.width-45 { width: 45%; }
div.width-55 { width: 55%; }
div.width-50 { width: 50%; }
div.width-70 { width: 70%; }
div.width-30 { width: 30%; }
div.width-60 { width: 60%; }
div.width-40 { width: 40%; }

table.admintable td.key,
table.admintable td.paramlist_key {
	background-color: #f6f6f6;
	text-align: right;
	width: 140px;
	color: #666;
	font-weight: bold;
	border-bottom: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
}

table.paramlist td.paramlist_description {
	background-color: #f6f6f6;
	text-align: left;
	width: 170px;
	color: #333;
	font-weight: normal;
	border-bottom: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
}

table.admintable td.key.vtop { vertical-align: top; }

table.adminform {
	background-color: #f9f9f9;
	border: solid 1px #d5d5d5;
	width: 100%;
	border-collapse: collapse;
	margin: 8px 0 10px 0;
	margin-bottom: 15px;
	width: 100%;
}
table.adminform.nospace { margin-bottom: 0; }
table.adminform tr.row0 { background-color: #f9f9f9; }
table.adminform tr.row1 { background-color: #eeeeee; }

table.adminform th {
	font-size: 11px;
	padding: 6px 2px 4px 4px;
	text-align: left;
	height: 25px;
	color: #000;
	background-repeat: repeat;
}
table.adminform td { padding: 3px; text-align: left; }

table.adminform td.filter{
	text-align: left;
}

table.adminform td.helpMenu{
	text-align: right;
}

fieldset.adminform { border: 1px solid #ccc; margin: 0 10px 10px 10px; }

table.noshow   		 { width: 100%; border-collapse: collapse; padding: 0; margin: 0; }
table.noshow tr 		 { vertical-align: top; }
table.noshow td 		 { }
table.noshow fieldset { margin: 15px 7px 7px 7px; }

/** general **/
table.adminlist thead th.whitebuttons input {
	background-color: #fff;
}

table.admintable td.key2 {
	background-color:#F6F6F6;
	border-bottom:1px solid #E9E9E9;
	border-right:1px solid #E9E9E9;
	color:#666666;
	font-weight:bold;
	text-align:left;
    padding-left: 5px;
    vertical-align: middle;
    height: 22px;
	width:180px;
}

table.admintable span.hasTip {
    padding-right: 18px;
	background: url(../images/icon-14-tooltip.png) no-repeat 100% 55%;
}

/** toolbar **/
table.toolbar1 {
	border-collapse: collapse;
	padding: 0;
	margin: 0;
}

table.toolbar1 td {
	padding: 1px 1px 1px 4px;
	text-align: center;
	color: #666;
	height: 48px;
}

table.toolbar1 td.desc {
	padding: 1px 10px 1px 4px;
	text-align: left;
	float: left-center;
	color: #666;
	height: 48px;
}

table.toolbar1 td.divider {
	border-right: 1px solid #eee;
	width: 5px;
}

table.toolbar1 span {
	float: none;
	width: 32px;
	height: 32px;
	margin: 0 auto;
	display: block;
}

table.toolbar1 a {
	display: block; float: left;
	white-space: nowrap;
	border: 1px solid #fbfbfb;
	padding: 1px 5px;
	cursor: pointer;
}

table.toolbar1 a:hover {
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
	color: #0B55C4;
}

/** toolbar icons **/
.icon-48-acesef {
	background-image: url(../images/toolbar.png);
	padding-left:230px!important;
	line-height:50px;
}

.icon-32-home { background-image: url(../images/icon-32-home.png); }
.icon-32-save1 { background-image: url(../images/icon-32-save1.png); }
.icon-32-apply1 { background-image: url(../images/icon-32-apply1.png); }
.icon-32-cancel1 { background-image: url(../images/icon-32-cancel1.png); }
.icon-32-new1 { background-image: url(../images/icon-32-new1.png); }
.icon-32-edit1 { background-image: url(../images/icon-32-edit1.png); }
.icon-32-generateurls  { background-image: url(../images/icon-32-generateurls.png); }
.icon-32-generatemetadata  { background-image: url(../images/icon-32-generatemetadata.png); }
.icon-32-generatesitemap  { background-image: url(../images/icon-32-generatesitemap.png); }
.icon-32-generatexml  { background-image: url(../images/icon-32-generatexml.png); }
.icon-32-generatetags  { background-image: url(../images/icon-32-generatetags.png); }
.icon-32-uninstall  { background-image: url(../images/icon-32-uninstall.png); }
.icon-32-purgeupdate  { background-image: url(../images/icon-32-purgeupdate.png); }
.icon-32-cache  { background-image: url(../images/icon-32-popup-cache.png); }
.icon-32-help1  { background-image: url(../images/icon-32-popup-help1.png); }

/** tabs **/
.maintab span,
.urlstab span,
.metadatatab span,
.sitemaptab span,
.tagstab span,
.ilinkstab span,
.bookmarkstab span,
.interfacetab span {
	font-weight: bold;
	padding-left: 23px;
	display: inline-block;
	height: 16px;
	font-size: 13px;
}

.maintab span {
	background: url(../images/acesef.png) no-repeat 0 50%;
}

.urlstab span {
	background: url(../images/icon-16-urls.png) no-repeat 0 50%;
}

.metadatatab span {
	background: url(../images/icon-16-metadata.png) no-repeat 0 50%;
}

.sitemaptab span {
	background: url(../images/icon-16-sitemap.png) no-repeat 0 50%;
}

.tagstab span {
	background: url(../images/icon-16-tags.png) no-repeat 0 50%;
}

.ilinkstab span {
	background: url(../images/icon-16-ilinks.png) no-repeat 0 50%;
}

.bookmarkstab span {
	background: url(../images/icon-16-bookmarks.png) no-repeat 0 50%;
}

.interfacetab span {
	background: url(../images/icon-16-interface.png) no-repeat 0 50%;
}

/** autocompleter **/
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url(../images/indicator.gif) right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}